# Ignore everything
*

# But not Gitignore files...
!.gitignore

# ...and not C++ source
!*.cpp
!*.h

# ...and not Qt files
!*.qml
!*.qrc
!*.ui

# ...and not VS project files
!*.sln
!*.vcxproj
!*.vcxproj.filters
!cpp.hint

# ... and not QMake .pro files
!*.pro